<%admin_restricted%>
<h1>Admin Dashboard</h1>
<ul>
  <li><%= link_to 'Manage Posts', admin_posts_path %></li>
  <li><%= link_to 'Manage Reviews', admin_reviews_path %></li>
  <li><%= link_to 'Manage Users', admin_users_path %></li>
</ul>