<p>
<img src="http://upload.wikimedia.org/wikipedia/en/f/f5/Question_mark.PNG" height="200" width="200"></img>
<a href="">edit</a>
</p>


<p>
  <b>Email:</b>
  <%= @user.email%>
</p>

<p>
  <b>About Me:</b>
  <%= @user.about%>
</p>





<%= link_to 'Back', users_path %>