<h1>About Us</h1>

<div class="jumbotron">
  	<h2>What is Social Music?</h2>
  	<br/>
  	<p>Social Music is a media site that combines socail media with love of music. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget bibendum quam. Morbi et feugiat quam. Fusce aliquet eros quis fringilla malesuada. Duis tincidunt nulla ac ipsum pulvinar, sed posuere dolor auctor. Cras scelerisque diam eros, in molestie massa rutrum et. Sed sit amet dolor imperdiet, mattis nibh non, gravida metus. Aenean vitae sapien a felis luctus vehicula. Proin ultricies faucibus ante, vel consectetur orci feugiat sit amet. Phasellus non justo dui. Suspendisse elementum dolor non mi euismod mattis. Phasellus nec feugiat est. Pellentesque bibendum posuere erat ac dignissim. Etiam iaculis, elit ac facilisis tristique, nunc nibh sagittis nisi, quis congue dui nulla congue orci. Aenean pretium mollis lectus a vulputate. Duis maximus tortor massa, non porta mi pharetra et.</p>
</div>

<div class="jumbotron">
  <h2>Why Join the Community?</h2>
  <br/>
  <p>Review any of the regularly added albums each week and get rewarded with likes from you fellow reviews. You could even appear on our leaderboard. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget bibendum quam. Morbi et feugiat quam. Fusce aliquet eros quis fringilla malesuada. Duis tincidunt nulla ac ipsum pulvinar, sed posuere dolor auctor. Cras scelerisque diam eros, in molestie massa rutrum et. Sed sit amet dolor imperdiet, mattis nibh non, gravida metus. Aenean vitae sapien a felis luctus vehicula. Proin ultricies faucibus ante, vel consectetur orci feugiat sit amet. Phasellus non justo dui. Suspendisse elementum dolor non mi euismod mattis. Phasellus nec feugiat est. Pellentesque bibendum posuere erat ac dignissim. Etiam iaculis, elit ac facilisis tristique, nunc nibh sagittis nisi, quis congue dui nulla congue orci.</p>
</div>

<div class="jumbotron">
  	<h2>Our Values</h2>
  	<br/>
  	<ul>
  		<li>Provide a vibrant and safe community for music lovers</li>
  		<li>Pellentesque bibendum posuere erat ac dignissim</li>
  		<li>Pellentesque bibendum posuere erat ac dignissim</li>
  		<li>Pellentesque bibendum posuere erat ac dignissim</li>
   	</ul>
</div>